<p id="{{id}}">
	
	{{burger_name}}

	{{#if devoured}}
	<button class="change-devour" data-id="{{id}}" data-devoured="{{devoured}}" data-name="{{burger_name}}">
		Eat it!
	</button>
	{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</p>
 